<nav id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">

    <a href="/"><h3>Gebäudereiniung Frankfurt</h3></a>
  
    <div class="menu-icon" onclick="myFunction()">
    <span></span>
    </div>
  
    <ul id="ulliste">
      <a href="/">Home</a>
      <div class="dropdown">
        <a class="dropbtn" href="/service">Service</a>
  
        <div class="dropdown-content">
        <a href="/service/glasreinigung-frankfurt">Glasreinigung</a>
        </div>
  
  
      </div>
      <a href="/kontakt">Kontakt</a>
  
    </ul>
  
  </nav>